<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="softgalli.gurukulshikshalay">
    <!--For accessing Internet-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--Is needed for accessing ConnectivityManager for monitoring network connections-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--Grants access to WifiManager(for managing all aspects of Wi-Fi connectivity in particular)-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--Allows applications to change Wi-Fi connectivity state-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--Allows applications to change network connectivity state-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!--Allows applications to enter Wi-Fi Multicast mode, used with WifiManager-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplasScreen"
            android:theme="@style/MyThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.LoginScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/MyThemeFullScreen" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ContactUsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.TakeAttendenceActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.SeeAttendenceActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ApplyLeaveActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.SeeLeaveListActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.LeaveAppDisappActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.NotificationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.TimeTableActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.AddTeacher"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.AddStudent"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.HomeScreenActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.AdmissionActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.Gallery"
            android:label="@string/app_name" />

        <activity
            android:name=".activity.GalleryList"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.TopperListActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.TeacherListActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ViewTeacherProfileActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ViewStudentsProfileActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.SyllabusActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".chatting.ChattingActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ParticularImage"
            android:theme="@style/MyThemeFullScreen" />

        <service
            android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/email"/>

    </application>

</manifest>