<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="softgalli.gurukulshikshalay">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplasScreen"
            android:theme="@style/MyThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.LoginScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/MyThemeFullScreen" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ContactUsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.TakeAttendenceActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ApplyLeaveActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.NotificationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.TimeTableActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.AddTeacher"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.AddStudent"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.HomeScreenActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.AdmissionActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.Gallery"
            android:label="@string/app_name" />

        <activity
            android:name=".activity.GalleryList"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.TopperListActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.TeacherListActivity"
            android:label="@string/app_name" />


    </application>

</manifest>